body {
    margin: 0;
    font-family: Nunito, Arial, sans-serif;
}

html, body, .wrapper {
    height: 100%;
    background-color: #D3D3D3;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 200ms;
}

.piano {
    background-color: #1a1a1a;
    padding: 20px;
    height: 325px;
    // width: 730px;
    border-radius: 20px;
    transform: scale(1);
}

.controls {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.keys {
    display: flex;
}

.key {
    font-size: 10px;
    position: relative;
    /*margin-top: 25px;*/
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.key.key--black {
    background-image: linear-gradient(#2a2a2a 100%, #444 0%);
    width: 30px;
    height: 150px;
    left: 15px;
    z-index: 2;
    margin-left: -30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    color: #fff;
}

.key.key--black:active {
    background-image: linear-gradient(#2a2a2a 0%, #444 100%);
}

.key.key--white {
    background-image: linear-gradient(#f1f1f1 100%, #ddd 0%);
    width: 50px;
    height: 250px;
    border: 1px solid #ccc;
}

.key.key--white:last-child {
    border-right: 0;
}

.key.key--white:active {
    background-image: linear-gradient(#f1f1f1 0%, #ddd 100%);
}

@media screen and (max-width: 600px) {
    .piano {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 500px) {
    .piano {
        transform: scale(0.7);
    }
}
/*aaaaah*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 15px 15px 15px #ffffff, 0px 0px 15px #ffffff;
  background: #ff0000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.7px 1.7px 5.2px #000000, 0px 0px 1.7px #0d0d0d;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 22px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff0505;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 15px 15px 15px #ffffff, 0px 0px 15px #ffffff;
  background: #ff0000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.7px 1.7px 5.2px #000000, 0px 0px 1.7px #0d0d0d;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 22px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fa0000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 15px 15px 15px #ffffff, 0px 0px 15px #ffffff;
}
input[type=range]::-ms-fill-upper {
  background: #ff0000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 15px 15px 15px #ffffff, 0px 0px 15px #ffffff;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.7px 1.7px 5.2px #000000, 0px 0px 1.7px #0d0d0d;
  border: 10px solid rgba(0, 0, 0, 0);
  height: 22px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff0000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff0505;
}
